---
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
---

<section class='flex flex-col gap-20 justify-center md:flex-row md:gap-0 md:justify-between h-screen w-screen items-center px-0 md:px-16 lg:px-32 xl:px-48 min-[1680px]:px-80'>
  <div class='flex flex-col items-center md:items-start text-white'>
    <h1 class="font-playfair text-5xl lg:text-6xl 2xl:text-7xl mb-2 md:mb-3">Aitor Gallardo</h1>
    <h4 class="font-quattrocento text-3xl lg:text-4xl 2xl:text-5xl mb-4 md:mb-[56px] text-bg-gradient-blue_green">Web Developer</h4>
    <div class='flex gap-4'>
      <a href="https://github.com/AitorGallardo">
        <GithubIcon/>
      </a>
      <a href="https://www.linkedin.com/in/aitor-gallardo-mu%C3%B1oz-a03b061a3/">
        <LinkedinIcon/>
      </a>
    </div>
  </div>
  <img  class="aspect-[484/455] h-[250px] lg:max-xl:h-[300px] xl:max-2xl:h-[400px] 2xl:h-[450px]" src='/me-img.png' src='/me-img.png' alt='Aitor Gallardo'/>
</section>
