---
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import ScrollIcon from '../icons/ScrollIcon.astro';
---

<section
  class='flex flex-col gap-20 justify-center md:flex-row md:gap-0 md:justify-between h-screen items-center px-0 md:px-16 lg:px-32 xl:px-48 min-[1680px]:px-80'
>
  <div class='flex flex-col items-center md:items-start text-white'>
    <h1 class='font-playfair text-5xl lg:text-6xl 2xl:text-7xl mb-2 md:mb-3'>
      Aitor Gallardo
    </h1>
    <h4
      class='font-quattrocento text-3xl lg:text-4xl 2xl:text-5xl mb-4 md:mb-[56px] text-bg-gradient-blue_green'
    >
      Web Developer
    </h4>
    <div class='flex gap-4'>
      <a class='h-[36px] w-[36px]' href='https://github.com/AitorGallardo'>
        <GithubIcon />
      </a>
      <a
        class='h-[36px] w-[36px]'
        href='https://www.linkedin.com/in/aitor-gallardo-mu%C3%B1oz-a03b061a3/'
      >
        <LinkedinIcon />
      </a>
    </div>
  </div>
  <img
    id='me-img'
    class='aspect-[484/455] drop-shadow-2xl h-[250px] lg:max-xl:h-[300px] xl:max-2xl:h-[400px] 2xl:h-[450px]'
    src='/me-img.png'
    src='/me-img.png'
    alt='Aitor Gallardo'
  />
  <ScrollIcon />
</section>

<!-- <style>
  #me-img {
    transition: box-shadow 0.1s, transform 0.1s;
  }
  #me-img:hover {
    box-shadow: 0ps 0px 50px rgba(0, 0, 0, 1);
  }
</style>

<script>
  const image = document.querySelector('#me-img') as HTMLElement;
  const height = image.clientHeight;
  const width = image.clientWidth;

  image.addEventListener('mousemove', (e) => {
    const {layerX, layerY} = e;

    const yRotation = ((layerX - width / 2) / width) * 20;
    const xRotation = ((layerY - height / 2) / height) * 20;

    const string = `perspective(500px) scale(1.1) rotateX(${xRotation}deg) rotateY(${yRotation}deg)`;
    image.style.transform = string;
  });

  image.addEventListener('mouseout', () => {
    image.style.transform = 'perspective(500px) scale(1) rotateX(0) rotateY(0)';
  });
</script> -->
