---
import JavaScriptIcon from '../icons/JavaScriptIcon.astro';
import TypeScriptIcon from '../icons/TypeScriptIcon.astro';
import HtmlIcon from '../icons/HtmlIcon.astro';
import CssIcon from '../icons/CssIcon.astro';
import FigmaIcon from '../icons/FigmaIcon.astro';
import SassIcon from '../icons/SassIcon.astro';
import TailwindIcon from '../icons/TailwindIcon.astro';
import NodeIcon from '../icons/NodeIcon.astro';
import AngularIcon from '../icons/AngularIcon.astro';
import AstroIcon from '../icons/AstroIcon.astro';
import RxJsIcon from '../icons/RxJsIcon.astro';
import ReactIcon from '../icons/ReactIcon.astro';
import MongoDbIcon from '../icons/MongoDbIcon.astro';
import ReduxIcon from '../icons/ReduxIcon.astro';
---

<div
  class='grid grid-cols-[repeat(auto-fit,_minmax(0,_36px))] xl:grid-cols-[repeat(7,_minmax(0,_36px))] gap-y-10 gap-x-7 items-center max-xl:justify-center max-xl:justify-items-center'
>
  <span class='tooltip' data-tooltip='JavaScript'>
    <JavaScriptIcon />
  </span>
  <span class='tooltip' data-tooltip='TypeScript'>
    <TypeScriptIcon />
  </span>
  <span class='tooltip' data-tooltip='Html'>
    <HtmlIcon />
  </span>
  <span class='tooltip' data-tooltip='Css'>
    <CssIcon />
  </span>
  <span class='tooltip' data-tooltip='Figma'>
    <FigmaIcon />
  </span>
  <span class='tooltip' data-tooltip='RxJS'>
    <RxJsIcon />
  </span>
  <span class='tooltip' data-tooltip='Tailwind'>
    <TailwindIcon />
  </span>
  <span class='tooltip' data-tooltip='Node.js'>
    <NodeIcon />
  </span>
  <span class='tooltip' data-tooltip='Angular'>
    <AngularIcon />
  </span>
  <span class='tooltip' data-tooltip='Astro'>
    <AstroIcon />
  </span>
  <span class='tooltip' data-tooltip='MongoDB'>
    <MongoDbIcon />
  </span>
  <span class='tooltip' data-tooltip='React'>
    <ReactIcon />
  </span>
  <span class='tooltip' data-tooltip='Sass'>
    <SassIcon />
  </span>
  <span class='tooltip' data-tooltip='Redux'>
    <ReduxIcon />
  </span>
</div>

<style>
  .text-balance {
    text-wrap: balance;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text styles */
  .tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -40px; /* Adjust this value to position the tooltip vertically */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  /* Show the tooltip on hover */
  .tooltip:hover::before {
    opacity: 1;
    visibility: visible;
  }
</style>
