---
import JavaScriptIcon from "../icons/JavaScriptIcon.astro";
import TypeScriptIcon from "../icons/TypeScriptIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import CssIcon from "../icons/CssIcon.astro";
import FigmaIcon from "../icons/FigmaIcon.astro";
import SassIcon from "../icons/SassIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import NodeIcon from "../icons/NodeIcon.astro";
import AngularIcon from "../icons/AngularIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import RxJsIcon from "../icons/RxJsIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import MongoDbIcon from "../icons/MongoDbIcon.astro";

---

<div class="grid grid-cols-[repeat(auto-fit,_minmax(0,_36px))] xl:grid-cols-[repeat(7,_minmax(0,_36px))] 2xl:grid-cols-[repeat(7,_minmax(0,_50px))] gap-y-10 gap-x-7 items-center">
    <JavaScriptIcon/>
    <TypeScriptIcon/>
    <HtmlIcon/>
    <CssIcon/>
    <FigmaIcon/>
    <RxJsIcon/>
    <TailwindIcon />
    <NodeIcon/>
    <AngularIcon />
    <AstroIcon/>
    <MongoDbIcon/>
    <ReactIcon/>
    <SassIcon/>

</div>