---
import Project from './ProjectCard.astro';
---

<section
  class='flex items-start justify-center h-full md:h-screen w-screen flex-col xl:flex-row xl:items-center  py-52 px-16 lg:px-28 min-[1680px]:px-80'
>
<h4 class='font-quattrocento text-3xl md:text-4xl text-white mb-10 max-xl:text-center'>Projects</h4>
<Project/>
</section>
