---
import AngularIcon from '../icons/AngularIcon.astro';
import CssIcon from '../icons/CssIcon.astro';
import HtmlIcon from '../icons/HtmlIcon.astro';
import JavaScriptIcon from '../icons/JavaScriptIcon.astro';
import ReactIcon from '../icons/ReactIcon.astro';
import RxJsIcon from '../icons/RxJsIcon.astro';
import ReduxIcon from '../icons/ReduxIcon.astro';
import TypeScriptIcon from '../icons/TypeScriptIcon.astro';
import ProjectCard from './ProjectCard.astro';
import Stars from './Stars.astro';
---

<section
  class='relative overflow-hidden flex flex-col  h-full xl:items-center px-8 py-24   sm:px-16 lg:px-28 lg:py-52 '
>
  <h4
    class='font-quattrocento text-4xl text-center w-full text-gray-400 mb-14 xl:mb-24'
  >
    Projects
  </h4>
  <div
    class='grid w-full justify-items-center grid-cols-[repeat(auto-fill,_minmax(250px,_1fr))] 
    sm:grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] 
    lg:grid-cols-[repeat(auto-fill,_minmax(384px,_1fr))]
    2xl:grid-cols-[repeat(3,_minmax(384px,_1fr))] 
    gap-y-10 gap-x-10'
  >
    <ProjectCard
      title='Interactive Card Form'
      description='Component that shows in a credit card the updated form data.'
      img='/interactive-card.png'
      siteLink='https://interactive-form-gmaitor.vercel.app/'
      githubLink='https://github.com/AitorGallardo/Interactive-card-form'
    >
      <Fragment slot='tech_icons'>
        <HtmlIcon width='22' height='22' />
        <CssIcon width='22' height='22' />
        <JavaScriptIcon width='22' height='22' />
        <ReactIcon width='22' height='22' />
      </Fragment>
    </ProjectCard>

    <ProjectCard
      title='Rest Countries'
      description='Web app that shows countries fetching data from REST Countries API.'
      img='/rest-countries-api.png'
      siteLink='https://rest-countries-api-gmaitor.vercel.app/'
      githubLink='https://github.com/AitorGallardo/Rest-Countries-Api'
    >
      <Fragment slot='tech_icons'>
        <HtmlIcon width='22' height='22' />
        <CssIcon width='22' height='22' />
        <TypeScriptIcon width='22' height='22' />
        <AngularIcon width='22' height='22' />
        <RxJsIcon width='22' height='22' />
      </Fragment>
    </ProjectCard>
    <ProjectCard
      title='Drawing Vanilla Js'
      description='Canvas to draw built with vanilla js.'
      img='/drawing-app.png'
      siteLink='https://codepen.io/AitorGallardo/pen/rNKLVmw'
      githubLink='https://github.com/AitorGallardo/drawing-app-vanillajs'
    >
      <Fragment slot='tech_icons'>
        <HtmlIcon width='22' height='22' />
        <CssIcon width='22' height='22' />
        <JavaScriptIcon width='22' height='22' />
      </Fragment>
    </ProjectCard>

    <ProjectCard
      title='Tip Calculator'
      description='App that splits bills and calculate tips.'
      img='/tip-calculator.png'
      siteLink='https://tip-calculator-gmaitor.vercel.app/'
      githubLink='https://github.com/AitorGallardo/Tip-Calculator'
    >
      <Fragment slot='tech_icons'>
        <HtmlIcon width='22' height='22' />
        <CssIcon width='22' height='22' />
        <JavaScriptIcon width='22' height='22' />
        <ReactIcon width='22' height='22' />
      </Fragment>
    </ProjectCard>

    <ProjectCard
      title='One Piece Tripulation'
      description='App that display and filter crews from One Piece.'
      img='/one_piece.png'
      siteLink='https://onepiece-eastblue-crews.vercel.app/'
      githubLink='https://github.com/AitorGallardo/onepiece_eastblue_crews'
    >
      <Fragment slot='tech_icons'>
        <HtmlIcon width='22' height='22' />
        <CssIcon width='22' height='22' />
        <JavaScriptIcon width='22' height='22' />
        <ReactIcon width='22' height='22' />
        <ReduxIcon width='22' height='22' />
      </Fragment>
    </ProjectCard>

    <ProjectCard
      title='Advice Generator'
      description='App that generate random quotes of advice.'
      img='/advice-generator.png'
      siteLink='https://advice-generator-app-gmaitor.vercel.app/'
      githubLink='https://github.com/AitorGallardo/Advice-generator-app'
    >
      <Fragment slot='tech_icons'>
        <HtmlIcon width='22' height='22' />
        <CssIcon width='22' height='22' />
        <JavaScriptIcon width='22' height='22' />
        <ReactIcon width='22' height='22' />
      </Fragment>
    </ProjectCard>
  </div>
  <Stars/>

</section>



<script>
  const projectCards = document.querySelectorAll('.ProjectCard');

  console.log(projectCards);

const fadeInUpOptions = {
  threshold: 0.2, // Adjust this threshold value to suit your needs
};

function fadeInUpAnimation(entries, observer) {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('fadeInUp'); 
      observer.unobserve(entry.target); 
    }
  });
}

const fadeInUpObserver = new IntersectionObserver(fadeInUpAnimation, fadeInUpOptions);

projectCards.forEach(card => {
  fadeInUpObserver.observe(card);
});

</script>